.download-link {
opacity: 0.4;	
}

.download-link,
.download-icon {
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMxJREFUeNpi1I6oYsACbIC4EYjrgfgIuiQTA3agCMROUJqBWE3/0GiiNL1Eo1EACxrfGGq6OpQPot9CDT+LSxPI895A/BfKnwjEzEC8FYh9cDmvBqqBGcpnhvJr8PnpAhBnoollQsVRNCkBsQSS2Gwg3g9l74fyYQCkTgmk6RwQV6KZ7gXE/VAaGYDUnQMFBD8Q+wPxK6jNjED8EYjPA3E6VP4/NFRB6vhBmr4BsTwQtzAQB76BNK0CYimkEPsPtY0RyobxGaAh+QwgwAByCyhkqLb69QAAAABJRU5ErkJggg==');
background-repeat: no-repeat;
width: 13px;
height: 13px;	
}

.download-icon,
.arr_div ul {
	display: inline-block;
}

.download-icon {
	margin-right: 5px;
}

.download-link {
position: absolute;
right: 33px;
top: 9px;
z-index: 100;
}

.download-link:hover {
	opacity: 1;
} 

.download-all-link {
display: block;
color: #2B587A;
opacity: .7;
text-align: right;
margin: 0 7px 7px 0;
padding-right: 15px;
background: url(/images/icons/mono_iconset.gif?8) no-repeat 0px -222px;
background-position-x: 100%;
}

.download-all-link:hover,
.arr_div ul li a {
opacity: 1;
text-decoration: none;
}

.bitrate,
.arr_div ul li {
color: #2B587A;
background-color: #EDF1F5;
border-radius: 2px;
}

.bitrate {
position: absolute;
right: 52px;
top: 5px;
z-index: 100;
padding: 3px;
}

.bitrate > span {
	font-size: 10px;
	padding-left: 10px;
}

.arr_div ul li:hover {
font-size: 12px;
background: rgb(192, 207, 223);
transition: all 0.5s ease-in-out;	
}

#audio.new .audio_add_wrap, 
#audio.new .audio_remove_wrap {
margin: 6px 6px 6px 76px !important;
}

#audio.new .audio_edit_wrap {
	margin: 6px 60px 6px 0px !important;
}

#audio.new .audio .title_wrap {
width: 200px !important;
}

.audio .title_wrap {
	width: auto;
	max-width: 160px;
}

.wide_wall_module .audio .title_wrap {
	width: auto;
	max-width: 360px;
}

.download-all-link .download-tooltip {
display: none;
position: absolute;
right: -30px;
bottom: 25px;
text-align: center;
color: #FFF;
background: rgba(0, 0, 0, 0.7);
border-radius: 5px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
padding: 10px;
width: 150px;
text-shadow: 0px 1px 0px #262626;
z-index: 200;
}

.download-all-link .download-tooltip:after {
position: absolute;
display: block;
content: '';
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
bottom: -7px;
background: url(/images/icons/like_icons_bl.png) -2px -47px no-repeat;
width: 13px;
height: 7px;
}

.download-all-link:hover .download-tooltip {
display: block;
}

.arr_div {
padding-top: 15px;
}

.arr_div ul {
list-style: none;
margin: 0;
padding: 0;
}

.arr_div ul li {
display: inline-block;
margin: 5px 0;
padding: 5px 0;
min-width: 100%;
text-align: center;
}

.cached-status {
position: absolute;
right: 0px;
top: 5px;
z-index: 100;
color: rgb(43, 88, 122);
background-color: rgb(237, 241, 245);
padding: 3px;
min-width: 25px;
}

#main_panel > .bitrate,
#audios_list > #initial_list > .bitrate,
#audios_list > .bitrate,
#pad_playlist > .bitrate,
#pad_playlist_panel > .bitrate,
.pad_audio_table > tbody > tr > .bitrate,
.audio_table > tbody > tr > .bitrate,
#pad_search_list > .bitrate {
	display: none;
}