.download-link {
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMxJREFUeNpi1I6oYsACbIC4EYjrgfgIuiQTA3agCMROUJqBWE3/0GiiNL1Eo1EACxrfGGq6OpQPot9CDT+LSxPI895A/BfKnwjEzEC8FYh9cDmvBqqBGcpnhvJr8PnpAhBnoollQsVRNCkBsQSS2Gwg3g9l74fyYQCkTgmk6RwQV6KZ7gXE/VAaGYDUnQMFBD8Q+wPxK6jNjED8EYjPA3E6VP4/NFRB6vhBmr4BsTwQtzAQB76BNK0CYimkEPsPtY0RyobxGaAh+QwgwAByCyhkqLb69QAAAABJRU5ErkJggg==');
width: 13px;
height: 13px;
position: absolute;
right: 33px;
top: 9px;
opacity: 0.4;
z-index: 100;
background-repeat: no-repeat;
}

.download-link:hover {
	opacity: 1;
} 

.download-all-link {
display: block;
color: #2B587A;
opacity: .7;
text-align: right;
margin: 0 7px 7px 0;
padding-right: 15px;
background: url(/images/icons/mono_iconset.gif?8) no-repeat 0px -222px;
background-position-x: 100%;
}

.download-all-link:hover {
opacity: 1;
text-decoration: none;
}

.bitrate {
position: absolute;
right: 52px;
top: 5px;
color: #2B587A;
background-color: #EDF1F5;
padding: 3px;
z-index: 100;
}

#audio.new .audio_edit_wrap, #audio.new .audio_add_wrap, #audio.new .audio_remove_wrap {
margin: 6px 6px 6px 76px !important;
}

#audio.new .audio .title_wrap {
width: 250px !important;
}