doctype html
html
    head
        title Авторизация LastFM
        link(href='css/lastauth.css', rel='stylesheet')
    body
        .content
            .wrap
                .logo
                    img(src='images/128x128.png')
                h1
                    span.user вы успешно авторизовали скробблер VK Observer!
        script(src='js/libs.js')
        script(src='js/lastauth.js')
