doctype html
html
		head
				meta(charset='utf-8')
				title Настройки
				link(href='css/popup.css', rel='stylesheet')
		body
			//- .switch.cache
			//- 	.switcher.switcher-cache
			//- 		input(type='checkbox', name='toggle-cache', id='toggle', class='toggle-cache')
			//- 		label(for='toggle-cache')
			//- 	.switcher-label
			//- 		h4 кэширование

			.switch.bitrate
				.switcher.switcher-bitrate
					input(type='checkbox', name='toggle-scrobble', id='bitrate', class='toggle-bitrate')
					label(for='toggle-scrobble')
				.switcher-label
					h4 битрейт

			.switch.scrobble
				.switcher.switcher-scrobble
					input(type='checkbox', name='toggle-scrobble', id='scrobble', class='toggle-scrobble')
					label(for='toggle-scrobble')
				.switcher-label
					h4 скробблинг

			a(href='http://vk.com/share.php?image=https://pp.vk.me/c616819/v616819030/1c5d2/ZfAqPNmRN6s.jpg&title=VK Observer&description=загрузка музыки и видео, скробблинг Last.fm&url=https://vk.com/vkobserverchrome', target='_blank', class="social-likes__widget social-likes_light  social-likes__widget_vkontakte")
				span.social-likes__button.social-likes__button_vkontakte
					span.social-likes__icon.social-likes__icon_vkontakte
					|  Прокачай друга

			script(src='js/popup.js')    
